<div class="container-fluid">
  <header id="navigation" class='row'>
    <div class="col-lg-6" id='navigation-left-side'>
      <a href="" id='logo-brand'>
        <i> C' </i>
      </a>
      <input type="text" placeholder="Search..." id='navigation-search-button' class='ml-4 mt-3'>
    </div>
    <div class="col-lg-6 font-template" id='navigation-list-choosen'>
      <a [routerLink] = "['/user/login']" class='btn background-button py-3'>SIGN IN</a>
      <a [routerLink] = "['/user/register']" class='btn background-button py-3'>SIGN UP</a>
      <a [routerLink] = "['']" class='btn background-button py-3'>HOME</a>
    </div>
  </header>
  <div id="hr"></div>
  <section id='body' class='row'>
    <div id='body-content-right' class="col-lg-12">
      <div id="body-content-right-form">
        <header>
          <i class="fas fa-user"></i> Forgot the password?
        </header>
        <div id='hr-form'></div>
        <section id="body-content-right-form-section">
          <form class='form'>
            <input type="text" id='username' class=' mb-3 py-2 mt-1 ' autocomplete="off" placeholder=" ">
            <label for="username" >Email</label>            
            <input type="text" id='password' class=' mb-3 py-2 ' autocomplete="off" placeholder=" ">
            <label for="password" >Current Old Password</label>
            <input type="text" id='newpassword' class=' mb-3 py-2 ' autocomplete="off" placeholder=" ">
            <label for="password" >New Password</label>
            <button id='submit-form' class='btn py-1 rounded-lg' [routerLink]="['/user/login']"> Reset Password</button> 
          </form>
        </section>
        <footer>
          <i class="fab fa-facebook-f ml-4"></i>
          <i class="fab fa-instagram ml-4"></i>
          <i class="fab fa-twitter ml-4"></i>
          <i class="fab fa-google-plus-g ml-4"></i>
        </footer>
      </div>
    </div>
  </section>
</div>
