<div class="container-fluid">
  <header id="navigation" class='row'>
    <div class="col-lg-4" id='brand-logo'>
      <a href="" class='py-3' id='favicon'>
        <img src="/assignment/assets/logo-favicon.png" alt="" width="120px;" height="120px;" class='rounded-circle'>
      </a>
    </div>
    <div class="col-lg-8 pr-5" id='navigation-list-choosen'>
      <a [routerLink]="['user/register']" class='btn background-button py-3'>SIGN UP</a>
      <a [routerLink]="['user/login']" class='btn background-button py-3'>SIGN IN</a>
      <a href="" class='btn background-button py-3'>CONTACT</a>
      <a href="" class='btn background-button py-3'>REPORT</a>
      <a [routerLink]="['about']" class='btn background-button py-3'>HOME</a>
    </div>
  </header>
  <section class='row'>
    <div class="item">
      <h5 class='font-template-2'>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga, aliquam sint laboriosam exercitationem laborum ea architecto nisi doloribus voluptate corrupti veritatis ipsum reiciendis. Illum nulla voluptate vero beatae vel aspernatur.
      </h5>
      <div class='row'>
        <div class="col-lg-7 col-sm-12">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam iusto, est aliquam ratione eius id necessitatibus fugit facere quidem praesentium asperiores illum ea dolorem veniam placeat odit harum impedit quod.
        </div>
        <div class="col-lg-5 col-sm-12">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque sint maxime deserunt fugiat beatae odit optio repellat, a rem esse ab eaque qui vitae necessitatibus nisi quod minus voluptatem obcaecati?
        </div>
      </div>
      <p class='mt-3'><strong> ABOUT US:</strong></p>
      <div id='admins'>
        <div class="admins-item">
          <img src="/assignment/assets/user.png" alt="" >
          <p>Role: <strong>Editor</strong></p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur et expedita, hic natus officia assumenda quia id odit cumque consequatur libero quaerat non pariatur laborum dicta aspernatur quos exercitationem culpa!
          </p>
        </div>
        <div class="admins-item">
            <img src="/assignment/assets/user.png" alt="" >
            <p>Role: <strong>Admin</strong></p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur et expedita, hic natus officia assumenda quia id odit cumque consequatur libero quaerat non pariatur laborum dicta aspernatur quos exercitationem culpa!
              </p>
        </div>
        <div class="admins-item">
            <img src="/assignment/assets/user.png" alt="" >
            <p>Role: <strong>Designer</strong></p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur et expedita, hic natus officia assumenda quia id odit cumque consequatur libero quaerat non pariatur laborum dicta aspernatur quos exercitationem culpa!
              </p>
        </div>
        <div class="admins-item">
            <img src="/assignment/assets/user.png" alt="" >
            <p>Role: <strong>DBA</strong></p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur et expedita, hic natus officia assumenda quia id odit cumque consequatur libero quaerat non pariatur laborum dicta aspernatur quos exercitationem culpa!
              </p>
        </div>
      </div>
    </div>
  </section>
</div>