<div class="container-fluid">
  <header id="navigation" class='row'>
    <div class="col-lg-6" id='navigation-left-side'>
      <a href="" id='logo-brand'>
        <i> C' </i>
      </a>
      <input type="text" placeholder="Search..." id='navigation-search-button' class='ml-4 mt-3'>
    </div>
    <div class="col-lg-6 font-template" id='navigation-list-choosen'>
      <a href="" class='btn background-button py-3'>
        CONTACT
      </a>
      <a href="" class='btn background-button py-3'>SIGN UP</a>
      <a href="" class='btn background-button py-3'>HOME</a>
      <a href="" class='btn background-button py-3'>ABOUT US</a>
    </div>
  </header>
  <div id="hr"></div>
  <section id='body' class='row'>
    <div class="col-lg-6">
      <div id="body-content-left-form">
        <h1 class='mb-5'>
          <span class='pt-4' class='font-template-2'>Register Now !</span>
        </h1>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime, natus molestias illo labore alias sunt ipsam odit veniam vitae accusamus repellat! Quae deserunt similique maxime id magni, ex dolores voluptate!
          Lorem, ipsum dolor sit amet consectetur 
        </p>
        <p class='mb-4'>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime, natus molestias illo labore alias sunt ipsam odit veniam vitae accusamus repellat! Quae deserunt similique maxime id magni, ex dolores voluptate!
        </p>
        <header id='body-content-left-header'>
        </header>
      </div>
    </div>
    <div id='body-content-right' class="col-lg-6">
      <div id="body-content-right-form">
        <header>
          <i class="fas fa-user"></i> Sign up
        </header>
        <div id='hr-form'></div>
        <section id="body-content-right-form-section">
          <form action="" class='form'>
            <div class="form-element">
                <input type="text" id='username' class=' mb-4 py-2 mt-5 ' autocomplete="off" placeholder="Username..."><div class='check mt-5'></div> 
            </div>                   
            <input type="text" id='password' class=' mb-4 py-2 ' autocomplete="off" placeholder="Email..."><div class='check'></div> 
            <input type="text" id='username' class=' mb-4 py-2 ' autocomplete="off" placeholder="Password..."><div class='check'></div>           
            <input type="text" id='password' class=' mb-4 py-2 ' autocomplete="off" placeholder="Repassword..."><div class='check'></div> 
            <button id='submit-form' class='btn py-1 rounded-lg mt-1'><a [routerLink] = "['/user/login']" style='text-decoration: none;color:white'> Sign Up Now!</a><i class="fas fa-feather ml-1"></i></button>
          </form>
        </section>
      </div>
    </div>
  </section>
</div>
